<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136093322261-cdl362vreunst9oi732f2dkep49pcqau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136093322261-cdl362vreunst9oi732f2dkep49pcqau</string>
	<key>API_KEY</key>
	<string>AIzaSyBxVcyk50-jb8_85jwTf2vs7Xq_soRcTIU</string>
	<key>GCM_SENDER_ID</key>
	<string>136093322261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamx.spark</string>
	<key>PROJECT_ID</key>
	<string>spark-86d96</string>
	<key>STORAGE_BUCKET</key>
	<string>spark-86d96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136093322261:ios:6a024315269ace08c2121c</string>
</dict>
</plist>